html {
  font-family: "Nunito", sans-serif !important;
  font-size: 16px !important;
}
.row {
}
p {
  margin: 0 !important;
}

.nav-wrapper {
  background-color: white;
}

nav ul a {
  color: #1c1d1d !important;
}

.carousel-section {
  max-width: 100vw;
  overflow: hidden;
  position: relative;
}

.click-here {
  background-color: #00aa13 !important;
  position: absolute;
  bottom: 36px;
  left: 50%;
  text-transform: none;
  transform: translateX(-50%);
  border-radius: 18px;
}

.head-title {
  font-weight: 700;
  font-size: 2rem;
}

.card {
  border-radius: 0.75rem;
}

.page-footer {
  background-color: #25282b;
}
.nav-wrapper > .container {
  margin-top: 0rem;
  margin-bottom: 0rem;
}
.container {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
